# Environment variables
.env

# Python virtual environment
.venv/
venv/
*.venv

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db


# Python build artifacts
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Log files
*.log

# Language server configs
pyrightconfig.json

# Dependency lock files
package-lock.json
